{% extends 'layouts/app.html' %}
{% load like_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<br>
	<title>SPECPRO</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p class="aligncenter">
		<img src="https://i.imgur.com/qMOzpT2.png" alt="centered image" />
	</p>
	<style>
		.aligncenter {
			text-align: center;
		}
		</style>

	<h1 style="text-align:center;">SPECPRO</h1>
	<h6 style="text-align:center;">Spring 2022 Senior Project</p>
	<h6 style="text-align:center;">https://github.com/nativepapaya/Spring-2022-Senior-Project</p>

	<br>

	<div id="wrapperDiv">
		<h1 style="text-align:center;">
			<div id="div1" style="padding:20px;background-color:#decddd;float:none">Team</div>
				<div class="container">
					<div class="hero">
						<br>
						<h5 class="name">Rayniery Hidalgo</h5>
						<h5 class="name">Kyle Evangelisto</h5>
						<h5 class="name">Ricky Hankey</h5>
						<h5 class="name">Malcolm Council</h5>
						<h5 class="name">Jayvee Lacasandile</h5>
						<h5 class="name">Ryan Schwegel</h5>
						<h5 class="name">Nasim Tukhi</h5>
					</div>
				</div>
	<br>
	<div id="div2" style="padding:20px;background-color:#cedddd;float:none">Features</div>
		<div class="container">
			<div class="hero">
				<br>
				<h5 class="name">Website utilizes the Spotify API and has the ability to pull data directly from Spotifyh</h5>
				<h5 class="name">Users are able to log into their own Spotify account</h5>
				<h5 class="name">User profiles imported from Spotify, including feature songs</h5>
				<h5 class="name">Interactive favorite system that gives users the ability to add songs directly to their profiel</h5>
				<h5 class="name">A fully functional comment system, given the users the ability to communicate with each other</h5>
			</div>
		</div>
	</div>
<body/>
{% endblock %}
