{% extends 'layouts/app.html' %}
{% load like_tags %}
{% block content %}
<div class="d-flex justify-content-center container" style="max-width:90vw">

    <!--Filters-->
    <div class="col-2 bg-dark text-white">
        Filters:
    </div>

    <!--Main content-->
    <div class="infinite-container col-6 p-4 bg-light" style="min-height: 100vh">

      <!--Create posts-->
      {% for post in posts %}
      <div class="row justify-content-center d-flex infinite-item mb-4">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                  <div class="col-7">
                  <img src="{{ post.profile.avatar }}" width="25" height="25" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'"/>
                  <span><b><a class="text-dark" href="{% url 'profile' post.user_id.id %}">{{ post.user_id.first_name }}</a></b> @{{ post.user_id.first_name }}
                    <span class="text-secondary">{{ post.created_at }}</span>
                  </span>
                  </div>
              </div>
              </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.description }}</p>
              <div class="mb-2">
                {% if post.rec_song_id %}
                  <iframe src="https://open.spotify.com/embed/track/{{post.rec_song_id}}" 
                    width="300" height="80" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media">
                  </iframe>
                {% endif %}
              </div>
              <div>
                {% if post.rec_album_id %}
                  <iframe src="https://open.spotify.com/embed/album/{{post.rec_album_id}}" 
                    width="300" height="80" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media">
                  </iframe>
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="card-subtitle d-flex flex-row">
              {% isLiked post user as liked %}
              <span style="margin:0px 0px 10px 10px">
              {% if liked %}
                <form action="{% url 'unlike_post' post.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-primary" name="post_id" value="{{ post.id }}"><b>{% getLikes post %} Like</b></button> 
                </form>
              {% else %}
                <form action="{% url 'like_post' post.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-primary" name="post_id" value="{{ post.id }}">{% getLikes post %} Like</button>
                </form>
              {% endif %}
              </span>
              <form action="{% url 'post.view' post.pk %}">
                <button type="submit" class="btn btn-secondary" style="margin:0px 0px 10px 10px">View Post</button>
              </form>
              <form action="{% url 'add_fav' %}">
                <input type="hidden" name="song_id" value="{{ post.rec_song_id }}"></input>
                <input type="hidden" name="song_name" value=""></input>
                <button type="submit" class="btn btn-secondary" style="margin:0px 0px 10px 10px">Favorite Song</button>
              </form> 
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      

      <!--Infinite scroll -->
      {% if posts.has_next %}
        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
      {% endif %}

      <script>
          var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
          });
      </script>
    </div>
    
    <!--Recommended users-->
    <div class="col-2 bg-dark text-white">
        <p>Recommended users:</p>
        <p>user1           +</p>
        <p>user2           +</p>
        <p>user3           +</p>
    </div>
</div>

<style>
    body {
      background: rgb(65, 70, 75); 
    }
  </style>
{% endblock %}