{% extends 'layouts/app.html' %}
{% block content %}
<div class="container d-flex justify-content-center">

    <!--Filters-->
    <div class="col-2 bg-dark text-white">
        Filters:
    </div>

    <!--Main content-->
    <div class="infinite-container col-8 bg-light" style="min-height: 100vh">

      <!--Create posts-->
      {% for number in numbers %}
      <div class="infinite-item">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="width:32px">
              <b>{{ number }}</b> @{{ number }}</li>
            <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </li>
            <li class="list-group-item d-flex">
              <div style="padding-left:10px">Like</div> 
              <div style="padding-left:10px">Comment</div> 
              <div style="padding-left:10px">Share</div></li>
          </ul>
        </div>
        <br/>
      </div>
      {% endfor %}
      

      <!--Infinite scroll -->
      {% if numbers.has_next %}
      <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
      {% endif %}

      <script>
          var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
          });
        </script>
    </div>


    <!--Recommended users-->
    <div class="col-2 bg-dark text-white">
        <p>Recommended users:</p>
        <p>user1           +</p>
        <p>user2           +</p>
        <p>user3           +</p>
    </div>
</div>

<style>
    body {
      background: rgb(65, 70, 75); 
    }
  </style>
{% endblock %}