{% extends 'layouts/app.html' %}

{% block content %}
    <img src="{{ profile.avatar }}"></img>
    <span>{{ user.first_name }}</span>

<!-- test push blah blah blah-->


    <h2>Favorties</h2>
    <h5> Here is where the list of user favorites will be</h5>
    <h5>Favorite songs!</h5>
    {% if songs %}
        <table class="table">
        <tbody>
        <tr>
        <!--{% for song in songs %}-->
            <td>
                <h5>A random song!</h5>
            </td>
        <!--{% endfor %}-->
        </tr>
        </tbody>
        </table>   
    {% endif %}
{% endblock %}